<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    @font-face {
      font-family: 'Avenir-Roman';
      src: url('https://measured-skill-qa.s3-us-west-2.amazonaws.com/cdn/Avenir-Roman.woff');
    }
    @font-face {
      font-family: 'Avenir-Heavy';
      src: url('https://measured-skill-qa.s3-us-west-2.amazonaws.com/cdn/Avenir-heavy.woff');
    }
    p {
        margin: 0;
      }
      td{
        word-break: break-word;
      }
      .avatar {
          margin-right: 20px;
      }
      .avatar img{
        border-radius: 50%;
        /* height: 30px;  */
        width: 30px; 
        margin-bottom: 7px;
        margin-right: 7px;
        
      }
      .user-chat .avatar img{
        margin-right: 0px;
        margin-left: 7px;
      }
      .message{
        background: #f1f1f1;
        display: inline-block;
        padding: 7px 15px 7px 10px;
        border-radius: 20px;
        color: #666;
        font-size: 10px;
        width: 200px;
        position: relative;
      }
      .message2:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 20px 15px 0;
        border-color: transparent transparent #2668A8 transparent;
        position: absolute;
        right: -5px;
        bottom: 0;
        z-index: -1;
      }
      .message2 {
        background: #2668A8;
        color: #fff;
        display: inline-block;
        padding: 7px 15px 7px 10px;
        border-radius: 15px;
        font-size: 10px;
        width: 200px;
        text-align: left;
        position: relative;
      }
      .message:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 15px 20px 0px 0;
        border-color: transparent #F1F1F1 transparent transparent;
        position: absolute;
        left: -5px;
        bottom: 0;
        z-index: -1;
      }
      .date{
        color: #9999; font-size: 10px; padding-left: 5px;
      }
      .user-chat .date{
        padding-left: 0px;
        padding-right: 5px;
      }
      .name-own{
        color: #7c7c7c;
        font-size: 10px; margin-bottom: 7px;
      }
      .mask-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        color: #000;
        cursor: pointer;
        z-index: 104;
        backdrop-filter: blur(3px);
        border: solid 2px;
        border-radius: 50%;
        background: rgb(124, 124, 124);
        margin-right: 7px;
        margin-bottom: 7px;
      }
      .user-chat .mask-avatar{
        margin-left: 7px;
      }
      .mask-avatar svg{
        width: 15px;
      }
      .sub-title {
        line-height: 22px;font-family: 'Avenir-Roman', sans-serif;font-size: 11px;
      }
      .f-600 {
        font-family: 'Avenir-Heavy'
      }
  </style>
</head>

<body style="margin: 0 auto;padding: 10px; max-width: 768px;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td colspan="4">
        <h2 style="text-align: center;line-height: 22px;margin-bottom: 7px;font-family: 'Avenir-Heavy', sans-serif;font-size: 18px;">
          Chat Transcript </h2>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 0 0 7px 40px">
      <p class="sub-title"><b class="f-600">Job Title</b>: <%= job && job.title ? job.title: '' %></p>
      <% if (user.acc_type == 1) { %>
        <p class="sub-title"><b class="f-600">Employer Name</b>: <%= groupInfo.ownerName %></p>
      <% } else { %>
        <p class="sub-title"><b class="f-600">Applicant Name</b>: <%= groupInfo.ownerName %></p>
      <% } %>
      </td>
    </tr>
   
    <% if (chats && chats.length) { %>
      <% chats.forEach(function (chat) { %>
      <tr>
      <% if (user.id===chat.user_id) { %> 
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Avenir-Roman'" class="user-chat">
          <tr valign="bottom">
            <td align="right">
              <p class="name-own"><span><%= chat.user_first_name %> <%= chat.user_last_name %></span>
                <% if (chat.user_employer_title) { %>
                  <span>&nbsp;-&nbsp;<%= chat.user_employer_title %></span></p>
                <% } %>
              <div style="margin-bottom: 7px;" class="flex-center">
                <span class="date"><%= chat.created_at %></span>
                <span class="message2"><%= chat.content %></span>
              </div>
            </td>
            <td align="center" class="avatar" align="right">
              <img
              src="<%= chat.user_profile_picture ? chat.user_profile_picture : chat.user_acc_type == 1 ? defaultAvatarJobSeeker : defaultAvatarEmployer %>" />
            </td>
          </tr>
        </table>
      <% } else { %>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Avenir-Roman'">
          <tr valign="bottom">
            <td align="center" class="avatar" align="right">
              <% if (chat.user_acc_type == 1 && groupInfo.can_view_profile != 1) { %>
              <div class="mask-avatar">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye-slash" class="svg-inline--fa fa-eye-slash fa-w-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"></path></svg>
              </div>
              <% } else if (groupInfo.company_id == chat.user_id) {%>
                <img
                  src="<%= groupInfo.company_logo ? groupInfo.company_logo : defaultAvatarCompany %>" />
              <% } else { %>
                <img
                  src="<%= chat.user_profile_picture ? chat.user_profile_picture : chat.user_acc_type == 1 ? defaultAvatarJobSeeker : defaultAvatarEmployer %>" />
              <% } %>
            </td>
            <td align="left">
              <% if (groupInfo.company_id == chat.user_id) { %>
              <p class="name-own"><span><%= groupInfo.company_name %></span>
              <% } else { %>
              <p class="name-own"><span><%= chat.user_first_name %> <%= chat.user_last_name %></span>
              <% } %>
              <% if (chat.user_employer_title) { %>
                <span>&nbsp;-&nbsp;<%= chat.user_employer_title %></span>
              <% } %></p>
              <div style="margin-bottom: 7px;" class="flex-center">
                <span class="message" ><%= chat.content %></span>
                <span class="date"><%= chat.created_at %></span>
              </div>
            </td>
          </tr>
        </table>
      <% } %>
      </tr>
    <% }) %>
    <% } %>
  </table>
</body>
</html>