<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear,
  user }); -%>
  <% if (accountType == ACCOUNT_TYPE_CONST.Employer) { %>
    <div style="padding: 30px 10px;">
      <p style="font-family: 'Avenir-Roman', sans-serif;
      line-height: 27px;
      font-size: 18px;">This email is to confirm your subscription to MeasuredSkills' mailing list. We will send you
        occasional emails regarding our services and product offerings. If you have not done so already, we encourage
        you to create a <a href="<%= mainUrl %>">MeasuredSkills Employer Account</a> for free. Please <a
          href="<%= contactUsUrl %>">contact us</a> directly if you have any questions
        or would like assistance with our hiring solutions.
      </p>
      <p style="font-family: 'Avenir-Roman', sans-serif;
      line-height: 27px;
      font-size: 18px;"><i>"– Connecting Employers To Highly Qualified Applicants, No Resumes Required."</i></p>
    </div>
    <% } else { %>
    <div style="padding: 30px 0;">
      <p style="font-family: 'Avenir-Roman', sans-serif;
        line-height: 27px;
        font-size: 18px;">This email is to confirm your subscription to MeasuredSkills' mailing list. We will send you
        occasional emails regarding our services and product offerings. If you have not done so already, we encourage
        you to create a <a href="<%= mainUrl %>">MeasuredSkills Jobseeker Account</a> for free.
      </p>
      <p style="font-family: 'Avenir-Roman', sans-serif;
        line-height: 27px;
        font-size: 18px;"><i>“– Jumpstart your career now on MeasuredSkills!”</i></p>
    </div>
    <% } %>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>