<!DOCTYPE html>
<html>

<head>
  <style>
    a {
      text-decoration: none;
    }

    #header {
      background: #2668a9;
      height: 80px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      position: relative;
      z-index: 1000;
    }

    .container {
      max-width: 1140px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .header-content {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .header-content .block-card-noti-acc {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    .header-content .block-card-noti-acc .box-acc .box-acc-name {
      width: auto;
      font-size: 20px;
      color: #fff;
    }

    .d-inline-block {
      display: inline-block !important;
    }

    .table {
      max-width: 1080px;
      width: 100%;
      margin: 1rem auto;
      color: #212529;
      border-collapse: collapse;
    }

    .table td,
    .table th {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }

    .table-bordered,
    .table-bordered td,
    .table-bordered th {
      border: 1px solid #dee2e6;
    }

    .table-manage-member {
      font-weight: 300;
    }

    .table-manage-member thead {
      background: #2668a9;
    }

    .table-manage-member thead tr th {
      vertical-align: middle;
      text-align: center;
      font-size: 16px;
      color: #fff;
      font-weight: 300;
    }

    .table-manage-member tbody tr td:not(.payment-details) {
      vertical-align: middle;
      text-align: center;
      font-size: 14px;
    }

    .table-cell {
      position: relative;
    }

    .table-cell:before {
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      background-color: transparent;
      border-right: solid #dee2e6 1px;
      width: calc(100% + 1px);
      height: calc(100% + 1px);
    }

    .row-title-top {
      text-transform: uppercase;
    }

    .private-job {
      padding: 5px 20px;
      border: 2px solid #2668a9;
      border-radius: 8px;
      font-size: 12px;
      margin-left: 10px;
    }

    .payment-details .job-container {
      padding: 20px 60px;
    }

    .f-left {
      float: left;
    }

    .f-right {
      float: right;
    }

    .clearfix {
      clear: both;
    }

    .payment-details .job-details-footer span {
      font-weight: 600;
    }

    .mb-5 {
      margin-bottom: 5px;
    }

    .mt-5 {
      margin-top: 5px;
    }

    .payment-details .job-details .job-info {
      font-size: 14px;
      font-weight: 600;
      margin-right: 20px;
      display: inline-block;
      width: 135px;
      white-space: nowrap;
    }

    .company {
      padding: 0 45px;
    }

    .box-acc__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
    }

    .box-acc__img img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    .break-page {
      page-break-inside: avoid !important;
    }

    .total {
      padding: 10px 60px;
    }

    .title {
      padding-left: 20px !important;
      text-align: left !important;
      padding-right: 20px !important;
    }
  </style>
</head>

<body>
  <main class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h1 style="text-align: center; margin-top: 15px;">Billing History</h1>
        </div>
        <div class="col-lg-12 company">
          <div class="f-left mt-10">
            <div class="box-acc__img">
              <img src="<%= user && user.profile_picture && apiUrl ? apiUrl + user.profile_picture : '' %>">
            </div>
          </div>
          <div class="job-box">
            <div class="job-title">
              <div class="w-80"><%= user ? user.company_name : "" %></div>
              <div>Email:&nbsp;<%= user ? user.email : "" %></div>
            </div>
          </div>
        </div>

        <table class="table table-bordered table-manage-member">
          <thead>
            <tr class="row-title-top">
              <th>Date</th>
              <th>Job Title</th>
              <th>Payment method</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% if (payments && payments.length) { %>
            <% payments.forEach(function (payment) { %>
            <% payment.description.forEach(function (job, index) { %>
            <tr style="background-color: #eef;">
              <% if (index === 0) { %>
              <td rowspan="<%= payment.description.length %>" class="table-cell"><%= payment.bill_date %></td>
              <% } %>
              <td class="title">
                <%= index + 1 %>.&nbsp;<%= job.title %>
                <% if (job.is_private) { %>
                <span class="private-job">private</span>
                <% } %>
              </td>
              <% if (index === 0) { %>
              <td rowspan="<%= payment.description.length %>" class="table-cell"><%= payment.payment_method %></td>
              <td rowspan="<%= payment.description.length %>" class="table-cell"><%= payment.total %></td>
              <% } %>
            </tr>
            <% }) %>
            <tr>
              <td colspan="4" class="payment-details">
                <% payment.description.forEach(function (job, index) { %>
                <div class="job-container">
                  <div>
                    <h3>
                      <%= index + 1 %>.&nbsp;<%= job.title %>
                      <% if (job.is_private) { %>
                      <span class="private-job">private</span>
                      <% } %>
                    </h3>
                  </div>
                  <div class="job-details">
                    <% if (job.is_private) { %>
                    <div class="f-left">
                      <div class="mb-5">
                        <span class="job-info">Number of Available Applicants:
                          &nbsp;<%= job.private_applicants %></span>
                      </div>
                    </div>
                    <div class="f-right">
                      <div class="mb-5">
                        <span>Price:</span>&nbsp;<%= job.total_private_price %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <% } else { %>
                    <div class="f-left">
                      <div class="mb-5">
                        <span class="job-info">Standard duration:</span>&nbsp;<%= job.standard_duration %>
                      </div>
                      <% if (job.featured_price !== "$0") { %>
                      <div class="mb-5">
                        <span class="job-info">Featured duration:</span>&nbsp;<%= job.featured_duration %>
                      </div>
                      <% } %>
                      <% if (job.add_urgent_hiring_badge) { %>
                      <div class="mb-5">
                        <span class="job-info">Urgent
                          Hiring:</span>&nbsp;<%= job.add_urgent_hiring_badge ? "Yes" : "No" %>
                      </div>
                      <% } %>
                    </div>
                    <div class="f-right">
                      <div class="mb-5">
                        <span>Price:</span>&nbsp;<%= job.standard_price %>
                      </div>
                      <% if (job.featured_price !== "$0") { %>
                      <div class="mb-5">
                        <span>Price:</span>&nbsp;<%= job.featured_price %>
                      </div>
                      <% } %>
                      <% if (job.add_urgent_hiring_badge) { %>
                      <div class="mb-5">
                        <span>Price:</span>&nbsp;<%= job.total_urgent_price %>
                      </div>
                      <% } %>
                    </div>
                    <div class="clearfix"></div>
                    <% } %>
                  </div>
                  <div class="f-right mt-5">
                    <span>Job posting price: <%= job.posting_price %></span>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <% }) %>
                <div class="clearfix"></div>
                <hr />
                <div class="f-right total break-page">
                  <span>Total price: <%= payment.total %></span>
                  <div class="clearfix"></div>
                </div>
              </td>
            </tr>
            <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

</html>