<html>
<head>
  <meta charset="utf8">
  <style>
    @font-face {
      font-family: 'Avenir-Roman';
      src: url('https://measured-skill-qa.s3-us-west-2.amazonaws.com/cdn/Avenir-Roman.woff');
    }
    @font-face {
      font-family: 'Avenir-Heavy';
      src: url('https://measured-skill-qa.s3-us-west-2.amazonaws.com/cdn/Avenir-heavy.woff');
    }
    p {
      margin: 0;
    }
    td{
      word-break: break-word;
    }
    @media print {
      .page {
        margin: 0;
        height: 100%;
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <!-- <div class="page"> -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 768px;font-family: 'Avenir-Roman'">
            <!-- <tr class="jobseeker-header">
              <td align="right" colspan="2" style="padding: 10px 0 0;">
                <p
                  style="line-height: 12px;color: #555;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  Receipt Number: <%= payment.id %></p>
                <p
                  style="line-height: 12px;color: #555;font-size: 10px;margin-bottom: 10px;font-family: 'Avenir-Roman', sans-serif;">
                  Date: <%= payment.bill_date %></p>
              </td>
            </tr> -->
            <tr valign="top">
              <td align="left">
                <img src="<%= logoUrl %>" alt="employer logo" width="200px" style="margin-left: -4px;">
              </td>
              <td align="right">
                <p
                  style="line-height: 13px;color: #222;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  Measured Skills LLC</p>
                <p
                  style="line-height: 13px;color: #222;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  704 228th Ave. NE</p>
                <p
                  style="line-height: 13px;color: #222;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  No. 762</p>
                <p
                  style="line-height: 13px;color: #222;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  Sammamish, WA</p>
                <p
                  style="line-height: 13px;color: #222;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                  98074</p>
              </td>
            </tr>
            <tr>
              <td align="left" colspan="2" style="padding: 10px 0 0;">
                <h2 style="line-height: 28px;margin-bottom: 0px;font-family: 'Avenir-Heavy', sans-serif;font-size: 24px;margin-left: -1px;">Receipt</h2>
                <p
                  style="line-height: 15px;margin-bottom: 10px;font-family: 'Avenir-Roman', sans-serif;font-size: 11px;">
                  Receipt Number: <%= payment.id %></p>
              </td>
            </tr>
            <tr valign="top">
              <td>
                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td valign="top" style="padding-bottom: 10px;">
                      <p
                        style="line-height: 15px;font-family: 'Avenir-Heavy', sans-serif;font-size: 11px; margin-bottom: 5px;">
                        Billed to:</p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        <%= billingInfo.first_name + ' ' + billingInfo.last_name%></p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        <%= billingInfo.company_name || ''%>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        <%= billingInfo.address_line_1 || ''%>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        <%= billingInfo.address_line_2 || ''%>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        <%= billingInfo.city_name + ', ' + billingInfo.state_name + ' ' + billingInfo.zip_code %>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <p
                        style="line-height: 15px;font-size: 11px;font-family: 'Avenir-Heavy', sans-serif;font-size: 11px; margin-bottom: 5px;">
                        Details:
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        Customer ID: <%= user.id %>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        Receipt Number: <%= payment.id %>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        Receipt Date: <%= payment.bill_date %>
                      </p>
                      <p
                        style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                        Payment Method: <%= payment.payment_method %></p>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th colspan="2" align="left" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 10px ">
                        <h2 style="font-size: 16px;line-height: 20px;margin-bottom: 10px;font-family: 'Avenir-Heavy', sans-serif;margin: 0">
                          Summary of Charges</h2>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="border-bottom: 1px solid #e5e5e5; padding: 7px 0;">
                        <p
                          style="line-height: 12px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Total in USD</p>
                      </td>
                      <td align="right" style="border-bottom: 1px solid #e5e5e5; padding: 7px 0;">
                        <h2 style="letter-spacing: -1px;font-size: 16px;line-height: 20px;margin-bottom: 10px;font-family: 'Avenir-Heavy', sans-serif;margin: 0">
                          $<%= payment.total_amount_string %>
                        </h2>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top: 10px;">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Subtotal</p>
                      </td>
                      <td align="right" style="padding-top: 10px;">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          <%= payment.sub_total_string %></p>
                      </td>
                    </tr>
                    <% if(payment.discount_value > 0) { %>
                    <tr>
                      <td>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Discounts</p>
                      </td>
                      <td align="right">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          -(<%= payment.discount_value_string %>)
                        </p>
                      </td>
                    </tr>
                    <% } %>
                    <tr>
                      <td>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Sales Tax </p>
                      </td>
                      <td align="right">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          <%= payment.tax_string %></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Total</p>
                      </td>
                      <td align="right">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          <%= payment.total_amount_string %></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr valign="top">
              <td colspan="2" style="padding-top: 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th style="border-bottom: 1px solid #e5e5e5; padding-bottom: 7px; padding-right: 30px;" align="left">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Heavy', sans-serif;color: #666">
                          Service Code</p>
                      </th>
                      <th style="min-width: 90mm; border-bottom: 1px solid #e5e5e5; padding: 0 5px 7px;" align="left">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Heavy', sans-serif;color: #666">
                          Description</p>
                      </th>
                      <th style="border-bottom: 1px solid #e5e5e5; padding-bottom: 7px" align="right">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Heavy', sans-serif;color: #666">
                          Amount($)</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% payment.description.forEach(function (product, index) { %>
                    <tr>
                      <!-- SERVICE CODE -->
                      <td style="padding: 7px 30px 7px 5px; border-bottom: 1px solid #e5e5e5;font-family: 'Avenir-Roman', sans-serif;" valign="top">
                        <p
                          style="line-height: 15px;color: #222;font-size: 12px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;opacity:0">
                          1000</p>
                        <% if (product.standard_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          1001</p>
                        <% } %>
                        <% if (product.featured_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          1002</p>
                        <% } %>
                        <% if (product.add_urgent_hiring_badge) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          1003</p>
                        <% } %>
                        <% if (product.is_private) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          1004</p>
                        <% } %>
                        <% if
                        ((payment.payment_type == PAYMENT_TYPE_CONST.Topup || payment.payment_type == PAYMENT_TYPE_CONST.DirectMesssage)
                          && user.acc_type == ACCOUNT_TYPE_CONST.Employer) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          1100</p>
                        <% } %>
                        <% if (user.acc_type == ACCOUNT_TYPE_CONST.JobSeeker) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          2000</p>
                        <% } %>
                      </td>
                      <!-- END SERVICE CODE -->
                      <!-- PAYMENT TITLE -->
                      <td align="left" style="padding: 7px 5px; border-bottom: 1px solid #e5e5e5;font-family: 'Avenir-Roman', sans-serif;" valign="top">
                        <% if (!product.is_private) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          <%= product.title %>
                        </p>
                        <% } %>
                        <% if (product.standard_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Standard Duration <%= product.standard_duration %>
                        </p>
                        <% } %>
                        <% if (product.featured_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Featured Duration <%= product.featured_duration %></p>
                        <% } %>
                        <% if (product.add_urgent_hiring_badge) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Urgently Hiring Badge</p>
                        <% } %>
                        <% if (product.is_private) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          <%= product.title %> Private Job Post x <%= product.private_applicants %></p>
                        <% } %>
                        <% if
                        ((payment.payment_type == PAYMENT_TYPE_CONST.Topup || payment.payment_type == PAYMENT_TYPE_CONST.DirectMesssage)
                        && user.acc_type == ACCOUNT_TYPE_CONST.Employer) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Direct Message Credit x <%= product.num_retake %></p>
                        <% } %>
                        <% if (user.acc_type == ACCOUNT_TYPE_CONST.JobSeeker) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Assessment Retake Credit x <%= product.num_retake %></p>
                        <% } %>
                      </td>
                      <!-- END PAYMENT TITLE -->
                      <!-- PRICE -->
                      <td align="right" style="padding: 10px 5px;; border-bottom: 1px solid #e5e5e5;font-family: 'Avenir-Roman', sans-serif;" valign="top">
                        <% if (product.posting_price > 0) { %>
                        <p
                          style="line-height: 15px;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Heavy', sans-serif;">
                          <%= product.posting_price %>
                        </p>
                        <% } %>
                        <% if (product.standard_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;">
                          <%= product.standard_price %>
                        </p>
                        <% } %>
                        <% if (product.featured_price > 0) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;">
                          <%= product.featured_price %>
                        </p>
                        <% } %>
                        <% if (product.add_urgent_hiring_badge && product.total_urgent_price == setting.urgent_hiring_price) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;">
                          <%= product.total_urgent_price %>
                        </p>
                        <% } %>
                        <% if (product.add_urgent_hiring_badge && product.total_urgent_price > setting.urgent_hiring_price) { %>
                          <p
                            style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;white-space: nowrap">
                            <%= product.total_urgent_price %>
                          </p>
                          <p
                            style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;white-space: nowrap">
                            (<%= setting.urgent_hiring_price %> for original post + <%= setting.urgent_hiring_price %> for extension)
                          </p>
                        <% } %>
                        <% if
                          ( user.acc_type == ACCOUNT_TYPE_CONST.JobSeeker || 
                            (
                              user.acc_type == ACCOUNT_TYPE_CONST.Employer && 
                              (payment.payment_type == PAYMENT_TYPE_CONST.Topup || payment.payment_type == PAYMENT_TYPE_CONST.DirectMesssage)
                            )
                          ) { %>
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;margin-right: 20px;">
                          <%= payment.sub_total_string %>
                        </p>
                        <% } %>
                      </td>
                      <!-- END PRICE -->
                    </tr>
                    <% }) %>
                  </tbody>
                  <!-- // discount type -->
                  <tbody>
                    <% if (payment.discount_value > 0) { %>
                    <tr>
                      <!-- SERVICE CODE -->
                      <td style="padding: 7px 30px 7px 5px; border-bottom: 1px solid #e5e5e5;" valign="center">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          3000</p>
                      </td>
                      <!-- END SERVICE CODE -->
                      <!-- PAYMENT TITLE -->
                      <td align="left" style="padding: 7px 5px; border-bottom: 1px solid #e5e5e5;" valign="center">
                        <p
                          style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                          Discount on Total Purchase</p>
                      </td>
                      <!-- END PAYMENT TITLE -->
                      <!-- PRICE -->
                      <td align="right" style="padding: 7px 5px; border-bottom: 1px solid #e5e5e5;" valign="center">
                        <p
                          style="line-height: 15px;font-size: 11px;margin-bottom: 0;font-family: 'Avenir-Heavy', sans-serif;">
                          -<%= payment.discount_value_string %>
                        </p>
                      </td>
                      <!-- END PRICE -->
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td style="padding-right: 30px;"></td>
                      <td style="padding: 10px 0 0;" colspan="2">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td style="border-bottom: 1px solid #e5e5e5; padding: 7px 0 0;">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  Total in USD</p>
                              </td>
                              <td align="right" style="border-bottom: 1px solid #e5e5e5; padding: 7px 0;">
                                <h2
                                  style="letter-spacing: -1px;font-size: 16px;line-height: 20px;margin-bottom: 10px;font-family: 'Avenir-Heavy', sans-serif;margin: 0">
                                  $<%= payment.total_amount_string %></h2>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 10px;">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  Subtotal</p>
                              </td>
                              <td align="right" style="padding-top: 10px;">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  <%= payment.sub_total_string %></p>
                              </td>
                            </tr>
                            <% if(payment.discount_value > 0) { %>
                            <tr>
                              <td>
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  Discounts</p>
                              </td>
                              <td align="right">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  -(<%= payment.discount_value_string %>)</p>
                              </td>
                            </tr>
                            <% } %>
                            <tr>
                              <td>
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  Sales Tax </p>
                              </td>
                              <td align="right">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  <%= payment.tax_string %></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  Total</p>
                              </td>
                              <td align="right">
                                <p
                                  style="line-height: 15px;color: #222;font-size: 10px;margin-bottom: 0;font-family: 'Avenir-Roman', sans-serif;">
                                  <%= payment.total_amount_string %></p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</body>


</html>