<!DOCTYPE html>
<html>
  <head>
    <style>
      a {
        text-decoration: none;
      }
      #header {
        background: #2668a9;
        height: 80px;
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        position: relative;
        z-index: 1000;
      }
      .container {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .header-content {
        display: flex;
        align-items: center;
        width: 100%;
      }
      .header-content .block-card-noti-acc {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      .header-content .block-card-noti-acc .box-acc .box-acc-name {
        width: auto;
        font-size: 20px;
        color: #fff;
      }
      .d-inline-block {
        display: inline-block!important;
      }
      .table {
        max-width: 1080px;
        width: 100%;
        margin: 1rem auto;
        color: #212529;
        border-collapse: collapse;
      }
      .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      
      .table-bordered, .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
      }

      .table-manage-member {
        font-weight: 300;
      }
      .table-manage-member thead {
        background: #2668a9;
      }
      .table-manage-member thead tr th {
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
      }
      .table-manage-member tbody tr td {
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered table-manage-member">
            <thead>
              <tr class="row-title-top">
                <th colspan="2" style="border-right: none;"></th>
                <th colspan="2" style="border-right: none; border-left: none;">
                  <div>
                    <h1 style="text-align: center;">Billing History</h1>
                  </div>
                </th>
                <th style="border-left: none; vertical-align: top; width: 25%;">
                  <a href="javascript:void(0)" class="header-logo">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 735.2 157.42">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #fff;
                          }
    
                          .cls-2 {
                            fill: #4fb648;
                          }
    
                          .cls-3 {
                            fill: #fff;
                          }
                        </style>
                      </defs>
                      <path class="cls-1"
                        d="M178.1,111.17a81,81,0,0,1-8.22,35.64H129.56a48.51,48.51,0,0,0,14.22-47.28l25.39-25.4A81,81,0,0,1,178.1,111.17Z" />
                      <path class="cls-2"
                        d="M169.17,74.13l-72.5,72.5L53.1,103.05c.15-.84.33-1.68.54-2.51A44.4,44.4,0,0,1,70.82,75.19l.55-.4,25.3,25.31L125,71.79l23.44-23.43A81.82,81.82,0,0,1,169.17,74.13Z" />
                      <path class="cls-1"
                        d="M63.79,146.81H23.47a81.33,81.33,0,0,1,.71-72.68A81.82,81.82,0,0,1,44.93,48.36L68.37,71.79a48.46,48.46,0,0,0-4.58,75Z" />
                      <path class="cls-1" d="M122.8,42.88a26.12,26.12,0,0,1-11.88,21.91h0A26.13,26.13,0,1,1,122.8,42.88Z" />
                      <path class="cls-3"
                        d="M211.38,33h7.8l20.32,46.8L259.83,33h7.4V88.73H262V39.57h-.15L240.61,88.73h-2.29L216.74,39.57h-.16V88.73h-5.2Z" />
                      <path class="cls-3"
                        d="M312.77,81.88a15.88,15.88,0,0,1-6.82,6A21.62,21.62,0,0,1,297,89.68a19.51,19.51,0,0,1-7.56-1.42,17.08,17.08,0,0,1-5.83-4,17.37,17.37,0,0,1-3.74-6.07,22.05,22.05,0,0,1-1.3-7.76,20.65,20.65,0,0,1,1.34-7.56,18,18,0,0,1,3.78-6,17.78,17.78,0,0,1,5.75-4,18,18,0,0,1,7.33-1.46,17.58,17.58,0,0,1,7.36,1.46,16.17,16.17,0,0,1,5.36,3.86,16.43,16.43,0,0,1,3.27,5.47,18.47,18.47,0,0,1,1.1,6.23v3.3H283.3a16.42,16.42,0,0,0,.59,3.83,13.74,13.74,0,0,0,6.39,8.31,13.13,13.13,0,0,0,6.81,1.57,15.14,15.14,0,0,0,7-1.73A12.65,12.65,0,0,0,309.3,79Zm-3.63-14.42a10.84,10.84,0,0,0-1-4.57,12.27,12.27,0,0,0-2.68-3.74,12.62,12.62,0,0,0-4-2.56,12.94,12.94,0,0,0-4.92-1,12,12,0,0,0-6.42,1.58,14.12,14.12,0,0,0-4.06,3.62,14.38,14.38,0,0,0-2.13,4,10.61,10.61,0,0,0-.63,2.64Z" />
                      <path class="cls-3"
                        d="M352.71,73.45c0,1.78,0,3.39,0,4.8s.06,2.73.12,3.94.11,2.34.19,3.39.2,2.1.36,3.15H349a33.51,33.51,0,0,1-.48-5.91h-.15a13.27,13.27,0,0,1-5.09,5.2,15.83,15.83,0,0,1-7.68,1.66,18.76,18.76,0,0,1-4.65-.59,12.28,12.28,0,0,1-4.09-1.9,9.67,9.67,0,0,1-4.1-8.31,9.69,9.69,0,0,1,2.13-6.61,13.29,13.29,0,0,1,5.24-3.67A24.74,24.74,0,0,1,336.76,67a61.12,61.12,0,0,1,6.18-.36h5.51v-2.2q0-4.72-2.91-6.78a12.48,12.48,0,0,0-7.33-2,16.64,16.64,0,0,0-11.11,4.1l-2.75-3.23a16.81,16.81,0,0,1,6.46-3.82,23.06,23.06,0,0,1,7.4-1.3q6.62,0,10.56,3.11c2.62,2.08,3.94,5.42,3.94,10Zm-9.46-3a42,42,0,0,0-5.79.4,20.2,20.2,0,0,0-5,1.34,9.39,9.39,0,0,0-3.58,2.52,6.34,6.34,0,0,0-.59,6.89,6.38,6.38,0,0,0,1.93,2.13A9,9,0,0,0,332.82,85a10.22,10.22,0,0,0,2.95.43,15.07,15.07,0,0,0,6.22-1.1,10.51,10.51,0,0,0,3.9-2.88,10.06,10.06,0,0,0,2-4,18.84,18.84,0,0,0,.55-4.53V70.45Z" />
                      <path class="cls-3"
                        d="M365.39,79.43a10.22,10.22,0,0,0,4.41,4.46A13.06,13.06,0,0,0,376,85.42a10.08,10.08,0,0,0,3-.47,9.23,9.23,0,0,0,2.68-1.34,7.25,7.25,0,0,0,1.93-2.09,5.2,5.2,0,0,0,.75-2.79,4.51,4.51,0,0,0-1.62-3.79,11.85,11.85,0,0,0-4-2,47.31,47.31,0,0,0-5.19-1.23,22.08,22.08,0,0,1-5.2-1.57,11.14,11.14,0,0,1-4-3,8,8,0,0,1-1.62-5.35,9.3,9.3,0,0,1,1.11-4.65A10.16,10.16,0,0,1,366.69,54a12.37,12.37,0,0,1,4-1.93,16.28,16.28,0,0,1,4.49-.63A17,17,0,0,1,382.92,53a11.53,11.53,0,0,1,5.08,5.2l-4.25,2.52a10.09,10.09,0,0,0-3.35-3.82,9.57,9.57,0,0,0-5.24-1.3,9.73,9.73,0,0,0-2.64.4,9.17,9.17,0,0,0-2.48,1.1A6.38,6.38,0,0,0,368.19,59a4.4,4.4,0,0,0-.75,2.52,4.22,4.22,0,0,0,1.61,3.63A12.76,12.76,0,0,0,373,67a46.47,46.47,0,0,0,5.2,1.14,21.16,21.16,0,0,1,5.2,1.54,10.62,10.62,0,0,1,4,3.07A8.89,8.89,0,0,1,389,78.41,10.69,10.69,0,0,1,388,83.33a10.21,10.21,0,0,1-2.91,3.51A13.11,13.11,0,0,1,380.83,89a17.24,17.24,0,0,1-5,.71,20.22,20.22,0,0,1-8.63-1.82,13,13,0,0,1-6-5.59Z" />
                      <path class="cls-3"
                        d="M429.67,78.49c0,.68,0,1.51.08,2.48s.1,2,.12,3,.07,1.93.12,2.79.08,1.54.08,2h-4.73c0-1.36-.09-2.68-.12-3.94a12.47,12.47,0,0,0-.19-2.44h-.24a12.64,12.64,0,0,1-4.73,5.16,13.8,13.8,0,0,1-7.72,2.17,15.83,15.83,0,0,1-7-1.34,11.08,11.08,0,0,1-4.25-3.51,12.65,12.65,0,0,1-2.09-5,30.25,30.25,0,0,1-.55-5.83V52.33h4.73V73.76a23.39,23.39,0,0,0,.39,4.3A11.3,11.3,0,0,0,405,81.8a7.16,7.16,0,0,0,2.76,2.64,9.37,9.37,0,0,0,4.6,1,13.52,13.52,0,0,0,4.93-.9,10.8,10.8,0,0,0,4-2.76A13.31,13.31,0,0,0,424,77.11a19.72,19.72,0,0,0,1-6.58V52.33h4.72Z" />
                      <path class="cls-3"
                        d="M442.67,62.58c0-.69,0-1.51-.08-2.49s-.09-2-.11-3-.07-1.93-.12-2.8-.08-1.53-.08-2H447c.05,1.37.09,2.68.11,3.94a13.17,13.17,0,0,0,.2,2.45A16.07,16.07,0,0,1,452,53.44a11.49,11.49,0,0,1,6.93-2,7.87,7.87,0,0,1,1.38.12l1.38.27-.55,4.65a5.74,5.74,0,0,0-1.81-.31,13.12,13.12,0,0,0-5.32,1,9.94,9.94,0,0,0-3.7,2.72,11.18,11.18,0,0,0-2.17,4.06,17.12,17.12,0,0,0-.71,5V88.73h-4.73Z" />
                      <path class="cls-3"
                        d="M499.63,81.88a15.92,15.92,0,0,1-6.81,6,21.7,21.7,0,0,1-8.95,1.82,19.51,19.51,0,0,1-7.56-1.42,17.08,17.08,0,0,1-5.83-4,17.51,17.51,0,0,1-3.74-6.07,22.05,22.05,0,0,1-1.3-7.76,20.86,20.86,0,0,1,1.34-7.56,17.69,17.69,0,0,1,16.86-11.5A17.63,17.63,0,0,1,491,52.85a16,16,0,0,1,8.62,9.33,18.23,18.23,0,0,1,1.1,6.23v3.3H470.17a15.9,15.9,0,0,0,.59,3.83,13.23,13.23,0,0,0,2.17,4.52,13.48,13.48,0,0,0,4.21,3.79A13.15,13.15,0,0,0,484,85.42a15.18,15.18,0,0,0,7-1.73A12.62,12.62,0,0,0,496.16,79ZM496,67.46a10.7,10.7,0,0,0-1-4.57,12.11,12.11,0,0,0-2.68-3.74,12.69,12.69,0,0,0-4-2.56,13,13,0,0,0-4.93-1A12.07,12.07,0,0,0,477,57.22a13.94,13.94,0,0,0-4.05,3.62,14.38,14.38,0,0,0-2.13,4,10.61,10.61,0,0,0-.63,2.64Z" />
                      <path class="cls-3"
                        d="M543.12,82.35H543a12.25,12.25,0,0,1-2.76,3.27,16.21,16.21,0,0,1-3.58,2.28,17.74,17.74,0,0,1-4.06,1.34,21.07,21.07,0,0,1-11.89-1,17.51,17.51,0,0,1-6.07-4,18.45,18.45,0,0,1-3.94-6.07,21.48,21.48,0,0,1,0-15.36,18.4,18.4,0,0,1,3.94-6.06,17.37,17.37,0,0,1,6.07-4,20.47,20.47,0,0,1,7.72-1.42,20.8,20.8,0,0,1,4.17.43,18.24,18.24,0,0,1,4.06,1.34,16.63,16.63,0,0,1,3.58,2.29A12.25,12.25,0,0,1,543,58.72h.16V29.17h4.72V88.73h-4.72Zm.47-11.82a14.31,14.31,0,0,0-1.18-5.79A14.84,14.84,0,0,0,539.18,60a15.42,15.42,0,0,0-4.81-3.19,15,15,0,0,0-6-1.19,14.62,14.62,0,0,0-6,1.19A13.72,13.72,0,0,0,517.83,60,13.51,13.51,0,0,0,515,64.74a17.59,17.59,0,0,0,0,11.58,13.65,13.65,0,0,0,2.88,4.73,13.86,13.86,0,0,0,4.57,3.19,14.62,14.62,0,0,0,6,1.18,15,15,0,0,0,6-1.18,15.6,15.6,0,0,0,4.81-3.19,15,15,0,0,0,3.23-4.73A14.31,14.31,0,0,0,543.59,70.53Z" />
                      <path class="cls-3"
                        d="M562.26,78.41a13.42,13.42,0,0,0,5.32,5.28A15.59,15.59,0,0,0,575,85.42a14.79,14.79,0,0,0,4.89-.79,12.6,12.6,0,0,0,4-2.2A10.43,10.43,0,0,0,586.56,79a10.12,10.12,0,0,0,1-4.53,8.72,8.72,0,0,0-1.22-4.8,10,10,0,0,0-3.27-3.12,24.73,24.73,0,0,0-4.61-2.08q-2.57-.87-5.28-1.74a54.54,54.54,0,0,1-5.28-2,17.77,17.77,0,0,1-4.61-2.87A13,13,0,0,1,560,53.44a16,16,0,0,1-1.22-6.62,14.39,14.39,0,0,1,1.46-6.58,14.06,14.06,0,0,1,3.94-4.8,17.53,17.53,0,0,1,5.71-2.92,23.3,23.3,0,0,1,6.78-1,22.07,22.07,0,0,1,8.47,1.61,16.17,16.17,0,0,1,6.73,5.4l-4.49,3.23a13.16,13.16,0,0,0-4.61-4.14,13.35,13.35,0,0,0-6.26-1.38,17.3,17.3,0,0,0-4.81.67,12.1,12.1,0,0,0-4,2A9.73,9.73,0,0,0,565,42.17a9.9,9.9,0,0,0-1,4.65,9,9,0,0,0,2.13,6.42,15,15,0,0,0,5.32,3.55,57.47,57.47,0,0,0,6.93,2.28,33.86,33.86,0,0,1,6.93,2.64,14.93,14.93,0,0,1,5.32,4.61q2.13,3,2.13,8.15a15.21,15.21,0,0,1-1.42,6.7,14.84,14.84,0,0,1-3.82,4.92,16.72,16.72,0,0,1-5.55,3,21.19,21.19,0,0,1-6.54,1,26.21,26.21,0,0,1-10.17-1.93,18.54,18.54,0,0,1-8-6.5Z" />
                      <path class="cls-3"
                        d="M603.23,29.17H608V68.88l18-16.47h6.94L614.1,69l20.95,19.69h-7.17L608,69.51V88.73h-4.72Z" />
                      <path class="cls-3"
                        d="M640.72,37.92a3.39,3.39,0,0,1,1-2.52,3.54,3.54,0,1,1,0,5A3.39,3.39,0,0,1,640.72,37.92Zm1.19,14.41h4.72v36.4h-4.72Z" />
                      <path class="cls-3" d="M660.81,29.17h4.73V88.73h-4.73Z" />
                      <path class="cls-3" d="M679.8,29.17h4.72V88.73H679.8Z" />
                      <path class="cls-3"
                        d="M698,79.43a10.22,10.22,0,0,0,4.41,4.46,13.09,13.09,0,0,0,6.15,1.53,10,10,0,0,0,3-.47,9.23,9.23,0,0,0,2.68-1.34,7.25,7.25,0,0,0,1.93-2.09,5.2,5.2,0,0,0,.75-2.79,4.53,4.53,0,0,0-1.61-3.79,12,12,0,0,0-4-2,48.07,48.07,0,0,0-5.2-1.23,22.08,22.08,0,0,1-5.2-1.57,11.22,11.22,0,0,1-4-3,8,8,0,0,1-1.61-5.35,9.3,9.3,0,0,1,1.1-4.65A10.16,10.16,0,0,1,699.29,54a12.37,12.37,0,0,1,4-1.93,16.28,16.28,0,0,1,4.49-.63A17,17,0,0,1,715.52,53a11.53,11.53,0,0,1,5.08,5.2l-4.25,2.52A10,10,0,0,0,713,56.94a9.55,9.55,0,0,0-5.24-1.3,9.73,9.73,0,0,0-2.64.4,9.31,9.31,0,0,0-2.48,1.1A6.51,6.51,0,0,0,700.79,59a4.4,4.4,0,0,0-.75,2.52,4.2,4.2,0,0,0,1.62,3.63,12.59,12.59,0,0,0,4,1.85,46.47,46.47,0,0,0,5.2,1.14,21,21,0,0,1,5.2,1.54,10.62,10.62,0,0,1,4,3.07,8.89,8.89,0,0,1,1.62,5.71,10.69,10.69,0,0,1-1.07,4.92,10.21,10.21,0,0,1-2.91,3.51A13.11,13.11,0,0,1,713.43,89a17.24,17.24,0,0,1-5,.71,20.22,20.22,0,0,1-8.63-1.82,13,13,0,0,1-6-5.59Z" />
                      <path class="cls-3"
                        d="M296.89,107.5h5.78v9.78H313.9V107.5h5.78v26.23H313.9V122.39H302.67v11.34h-5.78Z" />
                      <path class="cls-3" d="M324.94,107.5h5.79v26.23h-5.79Z" />
                      <path class="cls-3"
                        d="M336,107.5h10.15a17.86,17.86,0,0,1,3.8.39,8.9,8.9,0,0,1,3.15,1.29,6.48,6.48,0,0,1,2.15,2.45,8.26,8.26,0,0,1,.8,3.83,7.73,7.73,0,0,1-1.45,4.73,6.45,6.45,0,0,1-4.22,2.46L357,133.73h-6.93l-5.49-10.48h-2.85v10.48H336Zm5.78,10.85h3.41c.52,0,1.07,0,1.65,0a5.4,5.4,0,0,0,1.57-.33,2.76,2.76,0,0,0,1.17-.88,2.62,2.62,0,0,0,.46-1.66,2.81,2.81,0,0,0-.4-1.6,2.84,2.84,0,0,0-1-.91,4.74,4.74,0,0,0-1.45-.42,10.81,10.81,0,0,0-1.59-.11h-3.78Z" />
                      <path class="cls-3" d="M360.22,107.5h17.83v5.33H366v4.89h11.38v5.34H366v5.34h12.72v5.33h-18.5Z" />
                      <path class="cls-3"
                        d="M392.91,120.62a14.71,14.71,0,0,1,1.06-5.71,12.44,12.44,0,0,1,2.94-4.36,13.09,13.09,0,0,1,4.49-2.76,17.22,17.22,0,0,1,11.34,0,13,13,0,0,1,4.48,2.76,12.6,12.6,0,0,1,2.95,4.36,16,16,0,0,1,0,11.41,12.6,12.6,0,0,1-2.95,4.36,12.89,12.89,0,0,1-4.48,2.76,17.22,17.22,0,0,1-11.34,0,12.94,12.94,0,0,1-4.49-2.76,12.44,12.44,0,0,1-2.94-4.36A14.66,14.66,0,0,1,392.91,120.62Zm6,0a9.5,9.5,0,0,0,.58,3.39,7.65,7.65,0,0,0,1.65,2.66,7.52,7.52,0,0,0,2.57,1.77,9.39,9.39,0,0,0,6.71,0,7.66,7.66,0,0,0,2.58-1.77,7.78,7.78,0,0,0,1.64-2.66,10.17,10.17,0,0,0,0-6.77,7.68,7.68,0,0,0-1.64-2.68,7.49,7.49,0,0,0-2.58-1.76,9.25,9.25,0,0,0-6.71,0,7.36,7.36,0,0,0-2.57,1.76,7.56,7.56,0,0,0-1.65,2.68A9.52,9.52,0,0,0,398.91,120.62Z" />
                      <path class="cls-3"
                        d="M425.15,107.5h9.78a24.83,24.83,0,0,1,3.43.24,9.46,9.46,0,0,1,3.1,1,6,6,0,0,1,2.22,2,6.18,6.18,0,0,1,.85,3.45,5.46,5.46,0,0,1-1.24,3.68A6.81,6.81,0,0,1,440,120V120a7.78,7.78,0,0,1,2.35.72,6.26,6.26,0,0,1,1.82,1.38,5.69,5.69,0,0,1,1.17,1.94,6.86,6.86,0,0,1,.41,2.37,6.34,6.34,0,0,1-.89,3.47,7.13,7.13,0,0,1-2.3,2.24,9.91,9.91,0,0,1-3.17,1.22,16.72,16.72,0,0,1-3.5.37H425.15ZM430.93,118h4.19a6.58,6.58,0,0,0,1.32-.14,3.44,3.44,0,0,0,1.16-.49,2.48,2.48,0,0,0,.84-.89,2.64,2.64,0,0,0,.31-1.33,2.46,2.46,0,0,0-.35-1.35,2.52,2.52,0,0,0-.91-.84,4.34,4.34,0,0,0-1.26-.42,7.29,7.29,0,0,0-1.37-.13h-3.93Zm0,10.86h5.19a6.27,6.27,0,0,0,1.35-.15,3.5,3.5,0,0,0,1.24-.51,2.92,2.92,0,0,0,.91-1,2.7,2.7,0,0,0,.35-1.44,2.3,2.3,0,0,0-.46-1.5,2.93,2.93,0,0,0-1.17-.88,6.06,6.06,0,0,0-1.52-.4,10.36,10.36,0,0,0-1.52-.11h-4.37Z" />
                      <path class="cls-3"
                        d="M462.73,125a19.28,19.28,0,0,1-.32,3.52,7.92,7.92,0,0,1-1.2,3,6.21,6.21,0,0,1-2.54,2.11,9.86,9.86,0,0,1-4.32.8,9,9,0,0,1-5.26-1.48,7,7,0,0,1-2.78-4.63l5.3-1.3a2.49,2.49,0,0,0,.87,1.63,2.57,2.57,0,0,0,1.72.67,2.27,2.27,0,0,0,1.56-.5,3.1,3.1,0,0,0,.82-1.24,6.38,6.38,0,0,0,.31-1.62c0-.58.06-1.11.06-1.61V107.5h5.78Z" />
                      <path class="cls-3" d="M467.92,107.5h17.82v5.33h-12v4.89h11.38v5.34H473.7v5.34h12.71v5.33H467.92Z" />
                      <path class="cls-3"
                        d="M508.2,114.31a5.74,5.74,0,0,0-2.09-1.59,7,7,0,0,0-2.88-.55,7.26,7.26,0,0,0-3,.63,7.08,7.08,0,0,0-2.4,1.76,8.07,8.07,0,0,0-1.6,2.68,10.34,10.34,0,0,0,0,6.77,8.31,8.31,0,0,0,1.58,2.66,7.15,7.15,0,0,0,2.35,1.77,6.79,6.79,0,0,0,2.91.62,6.49,6.49,0,0,0,3.15-.74,6.22,6.22,0,0,0,2.26-2.07l4.82,3.59a10,10,0,0,1-4.23,3.45,13.07,13.07,0,0,1-5.26,1.11,16.22,16.22,0,0,1-5.67-1,12.89,12.89,0,0,1-4.48-2.76,12.46,12.46,0,0,1-2.95-4.36,15.88,15.88,0,0,1,0-11.41,12.46,12.46,0,0,1,2.95-4.36,13,13,0,0,1,4.48-2.76,16.22,16.22,0,0,1,5.67-1,14.65,14.65,0,0,1,2.32.2,12.64,12.64,0,0,1,2.37.65,10.51,10.51,0,0,1,2.24,1.19,8.92,8.92,0,0,1,1.93,1.81Z" />
                      <path class="cls-3" d="M521.5,112.61H514V107.5h20.75v5.11h-7.49v21.12H521.5Z" />
                      <path class="cls-3" d="M537.62,107.5h5.79v26.23h-5.79Z" />
                      <path class="cls-3" d="M546.07,107.5h6.6l6.49,17.19h.07l6.6-17.19H572l-10.82,26.23h-4.63Z" />
                      <path class="cls-3" d="M575,107.5h17.83v5.33h-12v4.89h11.38v5.34H580.76v5.34h12.71v5.33H575Z" />
                      <path class="cls-3" d="M598.33,107.5h5.78v20.9h10.71v5.33H598.33Z" />
                      <path class="cls-3" d="M620.34,122.54l-9.86-15h7.19l5.56,9.82,5.89-9.82H636l-9.86,15v11.19h-5.78Z" />
                    </svg>
                  </a>
                </th>
              </tr>
              <tr class="row-title-top">
                <th>Date</th>
                <th>Service</th>
                <th>Description</th>
                <th>Payment method</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if (payments && payments.length) { %>
                <% payments.forEach(function (payment) { %>
                  <tr>
                    <td><%= payment.bill_date %></td>
                    <td><%= payment.service %></td>
                    <td><%- payment.description %></td>
                    <td><%= payment.payment_method %></td>
                    <td><%= payment.total %></td>
                  </tr>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
