<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear,
  user }); -%>


  <% if (jobs && jobs.length) { %>
    <% jobs.forEach(function (e) { %>
      <table width="100%" style="background: #fdfdfd;
  border: 1px solid #f2f2f2;
  border-radius: 11px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <tr>
          <td style="width: 100%; vertical-align: middle;" class="td-column">
            <div style="
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 100%;
            align-items: center;
            ">
              <a href="<%= websiteUrl + '/job/' + e.job.id %>"
                style="
                  font-size: 18px; color: #2f3639;
                  margin: 0 15px 0 0; text-decoration: none;
                  font-weight: 600; padding: 5px 0;
                  font-family: 'Avenir-Roman', sans-serif;
                ">
                <%= e.job.title %>
              </a>
              <% if (e.job.add_urgent_hiring_badge !== 0) { %>
                <span class="img-bage" style="
                  width: 35px;
                  height: 35px;
                  display: inherit;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url(cid:uniq-icon-badge.png);
                  background-size: contain;
                  ">
                  </span>
              <% } %>
            </div>
          </td>
          <td class="td-column">
            <div style="
              color: #72777c;
              width: max-content;
              text-align: center;
              font-family: 'Avenir-Roman', sans-serif;
              line-height: 27px;
              font-size: 16px;
              display: inline-block;
              padding: 0 10px;"
            >
              <span class="img-addresss"
                style="width: 15px;
                height: 15px;
                display: inherit;
                background-image: url(cid:uniq-icon-address.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;">
              </span>
              <span style="font-family: 'Avenir-Roman', sans-serif; padding: 0 10px">
                <%
                  var address = [e.job.city_name, e.job.state_name].filter(e => e!= '' && e!=null).join(', ')
                %>
                <%= address %>
              </span>

              <a href="<%= websiteUrl + '/job/' + e.job.id %>" style="
                width: max-content;
                text-decoration: none;
                background: #4fb648;
                color: #fff;
                display: inline-block;
                font-size: 16px;
                padding: 5px 20px;
                line-height: 27px;
                border-radius: 18px;
                text-align: center;
                font-family: 'Avenir-Roman', sans-serif;
              ">
                View Details and Apply
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div style="    padding: 10px 0;
        color: #72777c;
        display: flex;
        align-items: center;">
              <table>
                <tr>
                  <td width="50px">
                    <img alt="company-picture"
                      src="<%= e.company.company_profile_picture || (websiteUrl + '/assets/images/employer_default_photo_1.png') %>"
                      width="50px" style="width: 50px;" />
                  </td>
                  <td>
                    <span style="padding: 0 8px;font-family: 'Avenir-Roman', sans-serif;">
                      <%= e.company.company_name %>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <p style="font-family: 'Avenir-Roman', sans-serif;">
              Job Description:<br />
              <%= e.job.desciption %>
            </p>
            <% 
              var employementType = '';
              if(e.job.employment_type == EMPLOYMENT_TYPE_CONST.FullTime) {
              employementType = 'Full-Time';
              }
              else if(e.job.employment_type == EMPLOYMENT_TYPE_CONST.PartTime) {
              employementType = 'Part-Time';
              }
              else if(e.job.employment_type == EMPLOYMENT_TYPE_CONST.Contract) {
              employementType = 'Contract';
              } else if(e.job.employment_type == EMPLOYMENT_TYPE_CONST.Temporary) {
              employementType = 'Full-Time';
              } else {
              employementType = 'Intership';
              } 
            %>
              <p style="margin-bottom: 10px;font-family: 'Avenir-Roman', sans-serif;">Employment Type: <%= employementType  %></p>
          </td>
        </tr>
      </table>
<% })} %>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>