<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear, user }); -%>
  <div style="padding: 30px 10px">
    <p style="font-family: 'Avenir-Roman', sans-serif; line-height: 27px; font-size: 18px">
      You have have <strong><%= numUnreadMessage %></strong> unread <%= textUnreadMessage %> in your MeasuredSkills inbox. If you would like to check these, please
      use the link below.
    </p>
  </div>
  <div style="text-align: center; padding-bottom: 30px;">
    <a href="<%= mainUrl %>" style="text-decoration: none;
    background: #2668a8;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;font-family: 'Avenir-Roman', sans-serif;
    line-height: 27px;">Check Message</a>
  </div>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>